<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <typeAliases>  
        <typeAlias alias="UserEntity" type="com.qingcity.entity.UserEntity"/> 
        <typeAlias alias="PlayerEntity" type="com.qingcity.entity.PlayerEntity"/> 
        <typeAlias alias="MusicEntity" type="com.qingcity.entity.MusicEntity"/> 
        <typeAlias alias="MusicScoreEntity" type="com.qingcity.entity.MusicScoreEntity"/>  
    </typeAliases>  
    <mappers>  
        <mapper resource="com/qingcity/dao/mapper/PlayerMapper.xml" />  
        <mapper resource="com/qingcity/dao/mapper/UserMapper.xml" />
        <mapper resource="com/qingcity/dao/mapper/MusicMapper.xml" /> 
        <mapper resource="com/qingcity/dao/mapper/MusicScoreMapper.xml" />   
    </mappers>  
</configuration>  