<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qingcity.dao.BillMapper">
	<resultMap id="BaseResultMap" type="Bill">
		<id column="orderId" property="orderId" jdbcType="VARCHAR" />
		<result column="pid" property="pid" jdbcType="INTEGER" />
		<result column="time" property="time" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="pNumber" property="pNumber" jdbcType="INTEGER" />
		<result column="totlalPrice" property="totlalPrice" jdbcType="DOUBLE" />
		<result column="userId" property="userId" jdbcType="INTEGER" />
	</resultMap>

	<sql id="Base_Column_List">
		orderId, pid, time, status, pNumber, totlalPrice, userId
	</sql>
	<select id="selectByOrderId" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from bill
		where orderId = #{orderId,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByOrderId" parameterType="java.lang.Integer">
		delete from bill
		where orderId = #{orderId,jdbcType=VARCHAR}
	</delete>

	<insert id="insertBill" parameterType="Bill">
		insert into bill (orderId,
		pid, time,
		status, pNumber, totlalPrice,
		userId)
		values
		(#{orderId,jdbcType=VARCHAR}, #{pid,jdbcType=INTEGER},
		#{time,jdbcType=TIMESTAMP},
		#{status,jdbcType=INTEGER},
		#{pNumber,jdbcType=INTEGER}, #{totlalPrice,jdbcType=DOUBLE},
		#{userId,jdbcType=INTEGER})
	</insert>

	<update id="updateByOrderId" parameterType="Bill">
		update bill
		<set>
			<if test="pid != null">
				pid = #{pid,jdbcType=INTEGER},
			</if>
			<if test="time != null">
				time = #{time,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="pNumber != null">
				pNumber = #{pNumber,jdbcType=INTEGER},
			</if>
			<if test="totlalPrice != null">
				totlalPrice = #{totlalPrice,jdbcType=DOUBLE},
			</if>
			<if test="userId != null">
				userId = #{userId,jdbcType=INTEGER},
			</if>
		</set>
		where orderId = #{orderId,jdbcType=VARCHAR}
	</update>
	<!-- 根据订单号查询订单状态 -->
	<select id="selectStatusById" parameterType="String"
		resultType="Integer">
		select status from
		bill where orderId = #{orderId}
	</select>
	<!-- 根据订单号查询商品id -->
	<select id="selectPidByOrderId" parameterType="String"
		resultType="Integer">
		select pid from bill where orderId = #{orderId}
	</select>
	<!-- 查询一位玩家的所有订单 -->
	<select id="selectBillByUserId" parameterType="Integer"
		resultType="Bill">
		select
		<include refid="Base_Column_List" />
		from bill where userId = #{userId}
	</select>
	<!-- 更新订单状态 -->
	<update id="updateStatusByOrderId">
		update bill set
		status = #{status} where orderId = #{orderId}
	</update>

</mapper>